.header-space {
  padding-top: 62px;
  @screen sm {
    padding-top: 74px;
  }
}

.slick-dots {
  position: absolute;
  left: 0;
  bottom: -35px;
  padding-left: 20px;
  text-align: left;
  & li {
    margin-right: 20px;
    & div {
      @apply bg-gray-300/50;
    }
    &.slick-active > div {
      @apply bg-accent;
    }
  }
}

.slick-dots li {
  @apply inline-block;
}
.slick-dots span {
  @apply bg-gray-500;
}
.slick-dots .slick-active span {
  @apply bg-orange-500 rounded-l-full rounded-r-full w-12;
}

& .slick-prev {
  position: absolute !important;
  right: 60px !important;
  bottom: 0px !important;
  transform: translateY(100%);
  @apply bg-white;
}

& .slick-next {
  position: absolute !important;
  right: 0 !important;
  @apply bg-white;
}

.carot-shift:hover {
  & > svg {
    padding-left: 8px;
  }
}

.p-title {
  @apply text-2xl font-bold text-gray-500 mb-6;
}

.form-flex {
}

input[type='radio'] {
  @apply bg-white border-2 border-gray-400 !outline-none;
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  display: grid;
  place-content: center;
}

input[type='radio']::before {
  @apply bg-accent transition-all;
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: scale(0);
}

input[type='radio']:checked::before {
  transform: scale(1);
}

input[type='radio']:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}

.loader-anim {
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.appear-actions {
  position: relative;
  & .action-container {
    @apply absolute right-4 overflow-hidden top-4 flex flex-col;
    & .delete,
    & .edit {
      @apply p-2 h-8 text-xs w-8 mx-2 mt-2 flex justify-center items-center bg-green-500 text-white rounded-full shadow;
      transform: translateX(calc(100% + 1rem));
    }
    & .delete {
      @apply bg-red-400 transition-all duration-500;
    }
    & .edit {
      @apply bg-green-500 transition-all duration-300;
    }
  }

  &:hover .delete {
    transform: translateX(0);
  }
  &:hover .edit {
    transform: translateX(0);
  }
}

.seller-p-details {
  & .bg {
    @apply bg-white;
  }

  & .py-20 {
    @apply py-0;
  }

  & .px-4 {
    @apply px-0;
  }

  & .gap-20 {
    @apply gap-8;
  }

  & .text-4xl {
    @apply text-2xl;
  }
}

.available,
.accepted {
  @apply px-4 py-1 inline-block bg-green-500 text-sm rounded text-white;
}

.unavailable {
  @apply px-4 py-1 inline-block bg-gray-400 text-sm rounded text-white;
}

.pending {
  @apply px-4 py-1 inline-block bg-yellow-400 text-sm text-white rounded;
}

.contingent {
  @apply px-4 py-1 inline-block bg-cyan-500 text-sm text-white rounded;
}

.sold {
  @apply px-4 py-1 inline-block bg-blue-400 text-sm text-white rounded;
}

.cancelled {
  @apply px-4 py-1 inline-block bg-red-400 text-sm text-white rounded;
}

.available-txt {
  @apply py-1 flex text-xs items-center text-gray-400 text-sm rounded;
  & svg {
    @apply text-green-300;
  }
}

.unavailable-txt {
  @apply py-1 flex text-xs items-center text-gray-400 text-sm rounded;
  & svg {
    @apply text-gray-300;
  }
}

.pending-txt {
  @apply py-1 flex text-xs items-center text-gray-400 text-sm rounded;
  & svg {
    @apply text-yellow-300;
  }
}

.contingent-txt {
  @apply py-1 flex text-xs items-center text-gray-400 text-sm rounded;
  & svg {
    @apply text-cyan-300;
  }
}

.sold-txt {
  @apply py-1 flex text-xs items-center text-gray-400 text-sm rounded;
  & svg {
    @apply text-blue-300;
  }
}

.offer-modal {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-height: 100vh;
  overflow: auto;
  box-shadow: 0px 0px 800px 1000px rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;

  @screen sm {
    width: fit-content;
    height: fit-content;
    min-width: 400px;
  }
}
